{{#ember-guru-modal title='Settings' onOk='guardar' onClose='cerrar'}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label>Name</label>
          {{input class="form-control" value=name}}
        </div>
    </form>
{{/ember-guru-modal}}