<h1 id="title">Componentes de Ember</h1>

<ul>
  <li>{{#link-to "prueba.combo"}}Combo{{/link-to}}</li>
  <li>{{#link-to "prueba.date-picker"}}Date picker{{/link-to}}</li>
  <li>{{#link-to "liquid-tether-modals"}}Liquid Tether Modals - descartado{{/link-to}}</li>
  <li>{{#link-to "ember-guru-modals"}}Ember Guru Modal - descartado{{/link-to}}</li>
  <li>{{#link-to "ember-remodals"}}Ember Remodal{{/link-to}}</li>
  <li>{{#link-to "ember-uploader-example"}}Ember Uploader{{/link-to}}</li>
</ul>

{{outlet}}