<h2 id="title">Componentes de Ember</h2>

<ul>
  <li>{{#link-to "prueba.combo"}}Combo{{/link-to}}</li>
  <li>{{#link-to "prueba.date-picker"}}Date picker{{/link-to}}</li>
  <li>{{#link-to "liquid-tether-modals"}}Liquid Tether Modals{{/link-to}}</li>
  <li>{{#link-to "ember-guru-modals"}}Ember Guru Modal{{/link-to}}</li>
</ul>

{{outlet}}