<h2>Ember-Uploader</h2>
<a href="https://www.npmjs.com/package/ember-uploader">NPMJS</a>
<br />
<a href="https://github.com/benefitcloud/ember-uploader">Git</a>
<br />

<br />
<h4>Simple file uploader</h4>
<br />
{{ember-uploader-file-uploader url="/upload"}}
<br />

<br />
<h4>Multiple file uploader</h4>
<br />
{{ember-uploader-multiple-file-uploader}}
<br />

<br />
<h2>Ember-Droplet</h2>
<a href="https://github.com/Wildhoney/EmberDroplet">Git</a>
<br />
<a href="http://ember-droplet.herokuapp.com/">Example</a>
<br />

<br />
<h4>Simple file uploader</h4>
<br />
{{ember-droplet-file-uploader}}
<br />
