<h1>EmberGuru Test</h1>
<p></p>
<br />
<a href=http://ember.guru/2014/master-your-modals-in-ember-js">Ember Gurú</a>
<br />

<h2>Settings & Logout Modals</h2>

<p><strong>Name:</strong> {{name}}</p>
<button {{action 'showModal' 'ember-guru-settings-modal' model}}>settings</button>
<button {{action 'showModal' 'ember-guru-logout-modal'}}>logout</button>
