<h2>EmberGuru Test</h2>
<a href=http://ember.guru/2014/master-your-modals-in-ember-js">Ember Guru site</a>
<br />
<p>Descartado</p>
<br />



<h3>Settings and Logout Modals</h3>

<p><strong>Name:</strong> {{name}}</p>
<button {{action 'showModal' 'components/ember-guru-settings-modal' model}}>settings</button>
<button {{action 'showModal' 'components/ember-guru-logout-modal'}}>logout</button>

{{outlet 'modal'}}
