<h1 id="title">Welcome to Ember</h1>
<br />
{{#link-to "prueba.combo"}}Combo{{/link-to}}
<br />
{{#link-to "liquid-tether-modals"}}Liquid Tether Modals{{/link-to}}
<br />
{{#link-to "ember-guru-modals"}}Ember Guru Modal{{/link-to}}
